<div class="container">
  <h1>Inicio</h1>
  <div class="links">
    <div class="link" routerLink="/students">
      <div class="icon">
        <span class="material-symbols-outlined">
          groups
        </span>
      </div>
      <div class="name">Alumnos</div>
      <div class="description">Administre los alumnos registrados</div>
    </div>
    <div class="link" routerLink="/subjects">
      <div class="icon">
        <span class="material-symbols-outlined">
          book
        </span>
      </div>
      <div class="name">Materias</div>
      <div class="description">Administre los alumnos registrados</div>
    </div>
  </div>
</div>