<div class="container">
  <h1>Materias</h1>
  <button mat-button color="primary" routerLink="/home"><mat-icon class="material-symbols-outlined">home</mat-icon>Ir a
    inicio</button>
  <div class="actions">
    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input matInput [(ngModel)]="nombre">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Costo</mat-label>
      <input matInput type="number" [(ngModel)]="costo">
    </mat-form-field>
    <button mat-flat-button color="primary" (click)="addSubjects()">
      <mat-icon class="material-symbols-outlined">add</mat-icon>
      AGREGAR
    </button>
  </div>
  <table class="subjects">
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Costo</th>
      <th></th>
    </tr>
    <tr class="subject" *ngFor="let subject of _subjects">
      <td>{{subject.idMateria}}</td>
      <td>{{subject.nombre}}</td>
      <td>MXN {{subject.costo}}</td>
      <td>
        <button mat-button color="warn" (click)="deleteSubject(subject.idMateria??0)">
          <mat-icon class="material-symbols-outlined">delete</mat-icon> Eliminar
        </button>
      </td>
    </tr>
  </table>
</div>